<div class="hero-unit">
	<h1>Welcome to Sang Ick's Inaugral Rails Project!</h1>
	<p>
	</p>
	<p>
		This is my first
		<%= link_to "Ruby on Rails","http://rubyonrails.com" %> appplication. How does it look?
	</p>
	<p>
		<%= link_to "Sign Up Now", "#", class: "btn btn-primary btn large" %>
	</p>
</div>