<div class="hero-unit">
	<h1>Welcome to One Month Rails!</h1>
	<p>
		You found the home page for One Month Rails
		<%= link_to "One Month Rails","http://onemonthrails.com" %>
		appplication
	</p>
	<p>
		<%= link_to "Sign Up Now", "#", class: "btn btn-primary btn large" %>
	</p>
</div>